<div class="header-action">
    <button mat-icon-button (click)="goToForm()"><mat-icon>add</mat-icon></button>
</div>
<table [dataSource]="datasource" mat-table>
    <ng-container matColumnDef="firstName">
        <th *matHeaderCellDef mat-header-cell>First Name</th>
        <td *matCellDef="let element" mat-cell> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th *matHeaderCellDef mat-header-cell>Last name</th>
        <td *matCellDef="let element" mat-cell> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th *matHeaderCellDef mat-header-cell>Address</th>
        <td *matCellDef="let element" mat-cell> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th *matHeaderCellDef mat-header-cell>City</th>
        <td *matCellDef="let element" mat-cell> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="telephone">
        <th *matHeaderCellDef mat-header-cell>Telephone</th>
        <td *matCellDef="let element" mat-cell> {{element.telephone}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
