<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
            height="20"
            alt="Angular Logo"
            src="assets/img/Logo-long.png"
    />
    <a routerLink="/owners" class="app-menu">
        <span>HOME</span>
    </a>
    <div class="spacer"></div>
    <a routerLink="/owners" class="app-menu">
        <span>OWNER</span>
    </a>
    <div class="spacer"></div>
    <a routerLink="/pets" class="app-menu">
        <span>PETS</span>
    </a>
    <div class="spacer"></div>
    <a routerLink="/clinics" class="app-menu">
        <span>CLINICS</span>
    </a>
    <div class="spacer"></div>
</div>
<router-outlet></router-outlet>
